

<h1>Halo, ola </h1>

<table>
  <thead>
  <tr>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.text %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  <%=@lesson%>
  </tbody>
</table>

<br>

<%= link_to 'New lesson', new_lesson_path %>