

<div>
    <h1>Welcome to our tutorial</h1>

    <p>Type your code in the box:
    </p>

   <div>
        <p>
          <% if @input.include?("ls")%>
              <%= text_area_tag(:text, 'Haha, are you a hacker?', :cols => "100%", :rows => "30%") %><br>
          <% else %>
              <%= text_area_tag(:text, @result, :cols => "100%", :rows => "30%") %><br>
          <% end %>

        </p>
    </div>

    </br>

    <div>
        <%= form_tag do  %>
                <%= text_area_tag :text, "", :cols => "100%", :rows => "2%" %></br>
                <%= submit_tag 'Run' %>
        <% end %>
    </div>
</div>

