<!DOCTYPE html>
<html>
<head>
  <title>RubyLander</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/jsrepl.js" id="jsrepl-script"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RubyLander</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Courses", :controller => :courses, :action => :list_courses %></li>
        <li><%= link_to "About", :controller => :about, :action => :message %> </li>
        <li><a href="https://github.com/miveronese/Rubylander"> Github</a></li>
        
      </ul>
    </div>

   
    
  </div>
</nav>


<%= yield %>

<div style="color:black">
  <h1> </h1>
</div>

<div class="footer">
     <p class="text-muted"> </p>
</div>


</body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60611794-1', 'auto');
  ga('send', 'pageview');

</script>
